.nav-presciption {
    a {
        color: rgb(30, 29, 29) !important;
        text-decoration: none;
    }
    .form-func i{
        font-size: 56px !important;
    }
}

.parent-component-prescription {
    background-color: #f4f4f4;
    height: 78.5vh;
    height: max-content;
}