@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.header {
    margin-top: 64px;
}
.red {
    color: red;
}

.primary-color{
    color: #00bb1f;
}

.background-color-primary {
    background-color: #00bb1f;
}

.text-white {
    color: #ffff;
    font-size: 32px;
}

