.container {
    padding-top: 24px;
    .img-personnel-container {
        width: 150px; /* Đảm bảo rằng Navbar.Brand chỉ bao quanh hình ảnh */
        height: fit-content;
    }
    .w-60{
        width: 160px;
    }
    .cell-personnel-name{
        width: 300px;
        min-width: 300px;
        max-width: 300px;
    }
    .img-personnel{
        max-width: 100%; /* Đảm bảo rằng hình ảnh không vượt quá phạm vi của Navbar.Brand */
        height: auto; /* Đảm bảo tỷ lệ hình ảnh không bị méo */
    }
    .fs-20{
        font-size: 20px;
    }
    .accordion-button:focus {
        color: black !important;
        background-color: #94ff97af !important;
        box-shadow: none !important;
    }
    .accordion-button:not(.collapsed) {
        color: black !important;
        background-color: #94ff97af !important;
        box-shadow: none !important;
    }
    .line-accor-body {
        height: 2px;
        width: 100%;
        background: rgb(157, 157, 157);
    }
}