.medicine {
    .vertical-align-middle {
        vertical-align: middle;
        .witd-td-name{
            width: 400px;
        }
    }
}

.nav-category {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

.modal-medicine {
    .modal-body {
        .no-spinners::-webkit-inner-spin-button,
        .no-spinners::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        .no-spinners {
            -moz-appearance: textfield;
        }

       
    }
}


.detail-medicine {
    .table-content {
        width: 100%;
        .content-container {
            display: flex;
            margin-bottom: 16px;
            .btn-unit {
                border: 2px solid #00bb1f !important; /* Kiểu đường viền: solid, Màu sắc: #000 (đen), Độ dày: 1px */
                border-radius: 50px;
            }
            .btn-unit:focus {
                background-color: #00bb1f;
                color: aliceblue;
                
            }
        }
        .content-container td {
            display: flex;
            align-items: flex-start;
            text-align: left;
        }
        .content-container td:first-of-type {
            max-width: 155px;
            width: 100%;
            margin-right: 16px;
        }
    }
}

