.medicine {
    .vertical-align-middle {
        vertical-align: middle;
        .witd-td-name{
            width: 400px;
        }
    }
}

.nav-category {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}



.detail-medicine {
    .table-content {
        width: 100%;
        .content-container {
            display: flex;
            margin-bottom: 16px;
        }
        .content-container td {
            display: flex;
            align-items: flex-start;
            text-align: left;
        }
        .content-container td:first-of-type {
            max-width: 155px;
            width: 100%;
            margin-right: 16px;
        }
    }
}

