.medicine {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .vertical-align-middle {
        vertical-align: middle;
        .witd-td-name{
            width: 400px;
        }
    }
}


